<div class="options-box">
  <h3>Edit Goal</h3>
  <%= form_for([@user, @goal]) do |f| %>
  <%= f.label :description %>
  <%= f.text_area :description %><br>
  <div id="select_category">
    <%= f.label :select_category %>
    <%= f.collection_select(:category_id, Category.all, :id, :title) %><br>
  </div>
  <%= f.submit %>
  <% end %>
</div>
